---
import 'rehype-callouts/theme/obsidian';

import type { MarkdownHeading } from 'astro';

import Giscus from '@/components/Giscus.astro';
import TableOfContents from '@/components/TableOfContents.astro';
import gridStyles from '@/styles/grid.module.css';

interface Props {
  title: string;
  subtitle?: string;
  headings?: MarkdownHeading[];
  image?: string;
  id: string;
}
const { title, subtitle, headings, id } = Astro.props;
---


<article class="relative pt-36 min-h-screen flex flex-col items-center">
  <div class="mb-8 px-8">
    <h1 class="pb-4 text-center text-6xl font-semibold" transition:name={id}>{title}</h1>
    {subtitle && <h2 class="text-center text-2xl font-light italic">{subtitle}</h2>}
  </div>
  <div class:list={[gridStyles.articleGrid, `px-2 pb-16 mt-28 w-full grow gap-2 bg-bkg/90 rounded-t-2xl`]}>
    <div
      class={`prose prose-slate ${gridStyles.articleContent} max-w-[56rem] p-4 transition-colors dark:prose-invert prose-h1:mb-4 prose-h1:mt-8 prose-p:mt-0 prose-code:font-[var(--font-neon)] md:px-12`}
    >
      <slot />
    </div>
    {headings && <TableOfContents {headings} class={gridStyles.articleToc} />}
    <div class:list={[`pt-16 flex justify-center`, gridStyles.articleWide]}>
      <div class="w-[56rem]">
        <Giscus />
      </div>
    </div>
  </div>
</article>
