---
import type { ImageMetadata } from 'astro';
import Image from '@/components/Image.astro';

import HoverCard from './HoverCard.astro';

interface Props {
  name: string;
  href: string;
  src: ImageMetadata;
  description: string;
  year: string;
  size?: 1 | 2 | 3;
  hideMobile?: boolean;
  containImage?: boolean;
  containBackgroundColor?: string;
}

const { name, href, src, description, year, size = 1, hideMobile = false, containImage = false, containBackgroundColor } = Astro.props;
---

<HoverCard
  class:list={[{ 'col-span-1': size === 1, 'col-span-2': size === 2, 'col-span-3': size === 3, 'hidden sm:block': hideMobile }]}
>
  <a {href} class="bg-bkg absolute inset-0" style={`background-color: ${containBackgroundColor};`}>
    {!containImage ? <Image
      {src}
      alt=""
      class="absolute h-full w-full object-cover object-top group-hover:scale-105 transition-transform"
      widths={[100, 300, 600]}
      sizes="(max-width: 600px) 100vw, (max-width: 1024px) 66vw, 33vw"
      quality={60}
    /> : <Image
      {src}
      alt=""
      class="absolute h-full w-full object-contain p-4 rotate-2 group-hover:-rotate-3 drop-shadow-lg group-hover:scale-105 transition-transform"
      widths={[100, 300, 600]}
      sizes="(max-width: 600px) 100vw, (max-width: 1024px) 66vw, 33vw"
      quality={60}
    />}
    <div
      class="can-hover:group-hover:-translate-y-full relative top-full mx-auto flex h-full w-full -translate-y-6 flex-col justify-center rounded-lg shadow-lg will-change-transform motion-safe:duration-200"
    >
      <span
        class="bg-bkg/90 backdrop-blur-sm absolute top-1 right-5 h-4 rounded-t-lg px-4 text-left align-top text-sm font-semibold text-slate-900 italic dark:text-white"
      >
        {year}
      </span>
      <div class="bg-bkg/90 backdrop-blur-sm absolute top-5 right-0 bottom-0 left-0 rounded-lg"></div>
      <div class:list={["absolute top-4 right-0 bottom-0 left-0 flex flex-col items-center gap-2 overflow-y-auto mask-t-from-80% pt-4", size === 1 ? 'px-2' : 'px-4']}>
        <h3 class="pt-4 text-lg text-gray-700 dark:text-white">
          {name}
        </h3>
        <p class="pb-2 text-sm text-gray-600 dark:text-slate-300 text-left">
          {description}
        </p>
      </div>
    </div>
  </a>
  <Fragment slot="noHover">
    <h3 class="pt-6 text-lg text-gray-700 dark:text-white">{name}</h3>
    <p class="py-2 text-sm text-gray-600 dark:text-slate-300">{description}</p>
  </Fragment>
</HoverCard>
