---
import IconButtonRow2 from '@/components/buttonRow/IconButtonRow2.astro';
import textStyles from '@/styles/text.module.css';

const fadeUpDelay = (i: number) => {
  return `animation-delay: ${i * 0.1 + 0.5}s;`;
};
---

<script>
  // wait for DOMContentLoaded before animating
  document.addEventListener('load', () => {
    const parent = document.querySelector('#home') as HTMLElement | null;
    if (!parent) return;
    const words = document.querySelectorAll('.header-word');
    const className = parent.dataset.textstyle;
    words.forEach(word => {
      word.classList.add(className || '');
    });
  });
</script>

<section
  id="home"
  class="relative container mx-auto flex h-[75vh] flex-col items-center justify-center p-8 text-center"
  data-textstyle={textStyles.animateFadeUp}
>
  <h2 class="text-4xl font-semibold">
    <span class="header-word motion-safe:opacity-0" style={fadeUpDelay(0)}> Hello </span>
    <span class="header-word motion-safe:opacity-0" style={fadeUpDelay(1)}> world! </span>
  </h2>
  <h1 class={`text-8xl font-extrabold text-transparent ${textStyles.gradientTitleText}`}>
    <span class="header-word motion-safe:opacity-0" style={fadeUpDelay(5)}> I'm </span>
    <span class="header-word motion-safe:opacity-0" style={fadeUpDelay(6)}> Tsuni! </span>
  </h1>

  <IconButtonRow2
    buttons={[
      {
        iconName: 'simple-icons:gmail',
        href: 'mailto:tsuni@[this domain]',
        title: 'tsuni@[this domain]'
      },
      {
        iconName: 'simple-icons:github',
        href: 'https://github.com/the-snesler',
        title: 'the-snesler'
      },
      {
        iconName: 'simple-icons:discord',
        href: 'https://discord.gg/W59fcbydeG',
        title: 'tsni'
      },
      {
        iconName: 'simple-icons:twitter',
        href: 'https://twitter.com/tsuniHD',
        title: '@tsuniHD'
      },
      {
        iconName: 'simple-icons:linkedin',
        href: 'https://www.linkedin.com/in/sam-nesler/',
        title: 'LinkedIn'
      }
    ]}
    animateDelay={7}
  />
</section>
